<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application","bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"> 
	    <div class="navbar-inner">
		    <div class="container">
		      <%= link_to "TodoApp", "/", class: "navbar-brand"  %>
		    </div>
	    </div>
  </div>
 
 <%= yield %>

</body>
</html>
